<div class="bg-white cities-footer">
    <div class="bg-body-tertiary">
      <div class="container">
        <a class="w-100 text-body text-decoration-none py-3 d-block" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
          <div class="d-flex flex-wrap justify-content-between align-items-center py-1">
            <h6 class="m-0 text-body fw-bold">POPULAR SEARCHES</h6>
            <span>
              <i class="ri-arrow-down-s-line border p-1 ms-2 rounded-3"></i>
            </span>
          </div>
        </a>
      </div>
    </div>
    <div class="collapse show" id="collapseExample">
      <div class="container py-4">
        <div class="row">
          <div class="col-12">
            <a href="products.html" class="small px-2 py-1 rounded-pill bg-white text-decoration-none fw-normal border text-muted me-1 mb-2 d-inline-block">Makeup</a>
            <a href="products.html" class="small px-2 py-1 rounded-pill bg-white text-decoration-none fw-normal border text-muted me-1 mb-2 d-inline-block">Dresses For Girls</a>
            <a href="products.html" class="small px-2 py-1 rounded-pill bg-white text-decoration-none fw-normal border text-muted me-1 mb-2 d-inline-block">T-Shirts</a>
            <a href="products.html" class="small px-2 py-1 rounded-pill bg-white text-decoration-none fw-normal border text-muted me-1 mb-2 d-inline-block">Sandals</a>
            <a href="products.html" class="small px-2 py-1 rounded-pill bg-white text-decoration-none fw-normal border text-muted me-1 mb-2 d-inline-block">Headphones</a>
            <a href="products.html" class="small px-2 py-1 rounded-pill bg-white text-decoration-none fw-normal border text-muted me-1 mb-2 d-inline-block">Babydolls</a>
            <a href="products.html" class="small px-2 py-1 rounded-pill bg-white text-decoration-none fw-normal border text-muted me-1 mb-2 d-inline-block">Blazers For Men</a>
            <a href="products.html" class="small px-2 py-1 rounded-pill bg-white text-decoration-none fw-normal border text-muted me-1 mb-2 d-inline-block">Handbags</a>
            <a href="products.html" class="small px-2 py-1 rounded-pill bg-white text-decoration-none fw-normal border text-muted me-1 mb-2 d-inline-block">Ladies Watches</a>
            <a href="products.html" class="small px-2 py-1 rounded-pill bg-white text-decoration-none fw-normal border text-muted me-1 mb-2 d-inline-block">Bags</a>
            <a href="products.html" class="small px-2 py-1 rounded-pill bg-white text-decoration-none fw-normal border text-muted me-1 mb-2 d-inline-block">Sport Shoes</a>
            <a href="products.html" class="small px-2 py-1 rounded-pill bg-white text-decoration-none fw-normal border text-muted me-1 mb-2 d-inline-block">Reebok</a>
            <a href="products.html" class="small px-2 py-1 rounded-pill bg-white text-decoration-none fw-normal border text-muted me-1 mb-2 d-inline-block">Shoes</a>
            <a href="products.html" class="small px-2 py-1 rounded-pill bg-white text-decoration-none fw-normal border text-muted me-1 mb-2 d-inline-block">Puma Shoes</a>
            <a href="products.html" class="small px-2 py-1 rounded-pill bg-white text-decoration-none fw-normal border text-muted me-1 mb-2 d-inline-block">Boxers</a>
            <a href="products.html" class="small px-2 py-1 rounded-pill bg-white text-decoration-none fw-normal border text-muted me-1 mb-2 d-inline-block">Wallets</a>
            <a href="products.html" class="small px-2 py-1 rounded-pill bg-white text-decoration-none fw-normal border text-muted me-1 mb-2 d-inline-block">Tops</a>
            <a href="products.html" class="small px-2 py-1 rounded-pill bg-white text-decoration-none fw-normal border text-muted me-1 mb-2 d-inline-block">Earrings</a>
            <a href="products.html" class="small px-2 py-1 rounded-pill bg-white text-decoration-none fw-normal border text-muted me-1 mb-2 d-inline-block">Fastrack Watches</a>
            <a href="products.html" class="small px-2 py-1 rounded-pill bg-white text-decoration-none fw-normal border text-muted me-1 mb-2 d-inline-block">Kurtis</a>
            <a href="products.html" class="small px-2 py-1 rounded-pill bg-white text-decoration-none fw-normal border text-muted me-1 mb-2 d-inline-block">Nike</a>
            <a href="products.html" class="small px-2 py-1 rounded-pill bg-white text-decoration-none fw-normal border text-muted me-1 mb-2 d-inline-block">Smart Watches</a>
            <a href="products.html" class="small px-2 py-1 rounded-pill bg-white text-decoration-none fw-normal border text-muted me-1 mb-2 d-inline-block">Titan Watches</a>
            <a href="products.html" class="small px-2 py-1 rounded-pill bg-white text-decoration-none fw-normal border text-muted me-1 mb-2 d-inline-block">Designer Blouse</a>
            <a href="products.html" class="small px-2 py-1 rounded-pill bg-white text-decoration-none fw-normal border text-muted me-1 mb-2 d-inline-block">Gowns</a>
            <a href="products.html" class="small px-2 py-1 rounded-pill bg-white text-decoration-none fw-normal border text-muted me-1 mb-2 d-inline-block">Rings</a>
            <a href="products.html" class="small px-2 py-1 rounded-pill bg-white text-decoration-none fw-normal border text-muted me-1 mb-2 d-inline-block">Cricket Shoes</a>
            <a href="products.html" class="small px-2 py-1 rounded-pill bg-white text-decoration-none fw-normal border text-muted me-1 mb-2 d-inline-block">Forever 21</a>
            <a href="products.html" class="small px-2 py-1 rounded-pill bg-white text-decoration-none fw-normal border text-muted me-1 mb-2 d-inline-block">Eye Makeup</a>
            <a href="products.html" class="small px-2 py-1 rounded-pill bg-white text-decoration-none fw-normal border text-muted me-1 mb-2 d-inline-block">Photo Frames</a>
            <a href="products.html" class="small px-2 py-1 rounded-pill bg-white text-decoration-none fw-normal border text-muted me-1 mb-2 d-inline-block">Punjabi Suits</a>
            <a href="products.html" class="small px-2 py-1 rounded-pill bg-white text-decoration-none fw-normal border text-muted me-1 mb-2 d-inline-block">Bikini </a>
            <a href="products.html" class="small px-2 py-1 rounded-pill bg-white text-decoration-none fw-normal border text-muted me-1 mb-2 d-inline-block">Fashion Show</a>
            <a href="products.html" class="small px-2 py-1 rounded-pill bg-white text-decoration-none fw-normal border text-muted me-1 mb-2 d-inline-block">Lipstick</a>
            <a href="products.html" class="small px-2 py-1 rounded-pill bg-white text-decoration-none fw-normal border text-muted me-1 mb-2 d-inline-block">Saree</a>
            <a href="products.html" class="small px-2 py-1 rounded-pill bg-white text-decoration-none fw-normal border text-muted me-1 mb-2 d-inline-block">Watches</a>
            <a href="products.html" class="small px-2 py-1 rounded-pill bg-white text-decoration-none fw-normal border text-muted me-1 mb-2 d-inline-block">Dresses</a>
            <a href="products.html" class="small px-2 py-1 rounded-pill bg-white text-decoration-none fw-normal border text-muted me-1 mb-2 d-inline-block">Lehenga</a>
            <a href="products.html" class="small px-2 py-1 rounded-pill bg-white text-decoration-none fw-normal border text-muted me-1 mb-2 d-inline-block">Nike Shoes</a>
            <a href="products.html" class="small px-2 py-1 rounded-pill bg-white text-decoration-none fw-normal border text-muted me-1 mb-2 d-inline-block">Goggles</a>
            <a href="products.html" class="small px-2 py-1 rounded-pill bg-white text-decoration-none fw-normal border text-muted me-1 mb-2 d-inline-block">Bras</a>
            <a href="products.html" class="small px-2 py-1 rounded-pill bg-white text-decoration-none fw-normal border text-muted me-1 mb-2 d-inline-block">Suit</a>
            <a href="products.html" class="small px-2 py-1 rounded-pill bg-white text-decoration-none fw-normal border text-muted me-1 mb-2 d-inline-block">Chinos</a>
            <a href="products.html" class="small px-2 py-1 rounded-pill bg-white text-decoration-none fw-normal border text-muted me-1 mb-2 d-inline-block">Shoes</a>
            <a href="products.html" class="small px-2 py-1 rounded-pill bg-white text-decoration-none fw-normal border text-muted me-1 mb-2 d-inline-block">Adidas Shoes</a>
            <a href="products.html" class="small px-2 py-1 rounded-pill bg-white text-decoration-none fw-normal border text-muted me-1 mb-2 d-inline-block">Woodland Shoes</a>
            <a href="products.html" class="small px-2 py-1 rounded-pill bg-white text-decoration-none fw-normal border text-muted me-1 mb-2 d-inline-block">Jewellery</a>
            <a href="products.html" class="small px-2 py-1 rounded-pill bg-white text-decoration-none fw-normal border text-muted me-1 mb-2 d-inline-block">Designers Sarees</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 footer bg-body-tertiary">
    <div>
      <div class="container py-3">
        <div class="row">
          <div class="col-12 col-lg-3 col-md-3 pe-lg-5">
            <a href="index.html" class="footer-brand d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none">
              <img src="/user_assets/img/logo.svg" class="img-fluid w-25" alt="iamosahan">
            </a>
            <h6 class="mb-2 text-body fw-bold text-uppercase mt-5">ABOUT SITE</h6>
            <p> Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old </p>
          </div>
          <div class="col-6 col-lg-2 col-md-3">
            <h6 class="mb-3 text-body fw-bold">COMPANY</h6>
            <a class="py-2 text-decoration-none d-block w-100 link-secondary" href="about.html">About</a>
            <a class="py-2 text-decoration-none d-block w-100 link-secondary" href="account.html">Profile</a>
            <a class="py-2 text-decoration-none d-block w-100 link-secondary" href="blog.html">Blog</a>
            <a class="py-2 text-decoration-none d-block w-100 link-secondary" href="blog-detail.html">Blog Detail</a>
            <a class="py-2 text-decoration-none d-block w-100 link-secondary" href="faq.html">FAQ</a>
            <a class="py-2 text-decoration-none d-block w-100 link-secondary" href="contact.html">Contact Us</a>
          </div>
          <div class="col-6 col-lg-2 col-md-3">
            <h6 class="mb-3 text-body fw-bold">ONLINE SHOPPING</h6>
            <a class="py-2 text-decoration-none d-block w-100 link-secondary" href="products.html">Product List</a>
            <a class="py-2 text-decoration-none d-block w-100 link-secondary" href="product-detail.html">Product Detail</a>
            <a class="py-2 text-decoration-none d-block w-100 link-secondary" href="discover.html">Discover</a>
            <a class="py-2 text-decoration-none d-block w-100 link-secondary" href="collections.html">Collections</a>
            <a class="py-2 text-decoration-none d-block w-100 link-secondary" href="collection-single.html">Collection Single</a>
            <a class="py-2 text-decoration-none d-block w-100 link-secondary" href="cart.html">Cart</a>
            <a class="py-2 text-decoration-none d-block w-100 link-secondary" href="checkout.html">Checkout</a>
          </div>
          <div class="col-6 col-lg-2 col-md-3">
            <h6 class="mb-3 text-body fw-bold">ACCOUNT</h6>
            <a class="py-2 text-decoration-none d-block w-100 link-secondary" href="account.html">Account</a>
            <a class="py-2 text-decoration-none d-block w-100 link-secondary" href="account.html">Orders</a>
            <a class="py-2 text-decoration-none d-block w-100 link-secondary" href="account.html">Settings</a>
            <a class="py-2 text-decoration-none d-block w-100 link-secondary" href="account.html">Favourites</a>
            <a class="py-2 text-decoration-none d-block w-100 link-secondary" href="account.html">Account Settings</a>
            <a class="py-2 text-decoration-none d-block w-100 link-secondary" href="brand.html">Brand</a>
          </div>
          <div class="col-6 col-lg-3 col-md-3">
            <h6 class="mb-2 text-body fw-bold text-uppercase">APP ON MOBILE</h6>
            <p>Refer and get free product.</p>
            <div class="d-flex aling-items-center gap-3 mb-4">
              <a href="#">
                <img src="/user_assets/img/google-store.png" alt="google-store" class="img-fluid">
              </a>
              <a href="#">
                <img src="/user_assets/img/app-store.png" alt="app-store" class="img-fluid">
              </a>
            </div>
            <h6 class="mb-3 text-body fw-bold mt-4 pt-2">CORPORATE OFFICE</h6>
            <p class="fw-light mb-3">Akshya Nagar 1st Block 1st Cross, Rammurthy nagar, Bangalore-560016</p>
            <a href="#" target="_blank" class="text-decoration-none fw-light text-dark small">
              <i class="ri-map-pin-line me-1"></i>Locate us on Google Maps </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-3 bg-white footer-copyright">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-8">
          <span class="me-3 small">©2023 <b class="text-dark">Your Website</b>. All rights reserved </span>
          <a class="text-black-50 small mx-3 text-decoration-none" href="#">Terms of Conditions</a>
          <a class="text-black-50 small mx-3 text-decoration-none" href="#">Privacy Policy</a>
        </div>
        <div class="col-md-4 text-end">
          <a target="_blank" href="#" class="btn social-btn btn-sm text-decoration-none">
            <i class="ri-facebook-fill"></i>
          </a>
          <a target="_blank" href="#" class="btn social-btn btn-sm text-decoration-none">
            <i class="ri-twitter-fill"></i>
          </a>
          <a target="_blank" href="#" class="btn social-btn btn-sm text-decoration-none">
            <i class="ri-linkedin-fill"></i>
          </a>
          <a target="_blank" href="#" class="btn social-btn btn-sm text-decoration-none">
            <i class="ri-youtube-fill"></i>
          </a>
          <a target="_blank" href="#" class="btn social-btn btn-sm text-decoration-none">
            <i class="ri-instagram-fill"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
 



   <!-- Login two modal -->
   <div class="modal fade" id="login" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content bg-white border-0 rounded-0">
        <div class="modal-header d-flex align-items-center justify-content-end border-0 p-0">
          <a href="#" class="btn btn-dark rounded-0 close-osahan-btn position-absolute top-0" data-bs-dismiss="modal" aria-label="Close">
            <i class="ri-close-fill"></i>
          </a>
        </div>
        <div class="modal-body p-5">
          <form class="row g-4" action="/procced_login" method="post">
            <h4 class="fw-bold mb-0">Login</h4>
            <div class="col-12">
              <label for="InputEmail1" class="form-label"> Enter Email</label>
              <input type="email"  name="email"class="form-control bg-transparent rounded-0" id="InputEmail1" placeholder="Enter Your Email">
            </div>
            <div class="col-12">
              <label for="InputPassword2" class="form-label">Enter Password</label>
              <input type="password" name="password" class="form-control bg-transparent rounded-0" id="InputPassword2" placeholder="Enter Password">
            </div>
            
            <div class="col-12">
              <button class="btn btn-dark rounded-0 w-100 py-3" data-bs-dismiss="modal"> Procced to Login</button>
            </div>
            <div class="col-12">
              <a href="#" data-bs-toggle="modal" data-bs-target="#logintwo">
                Create Account
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Login two modal -->
  <div class="modal fade" id="logintwo" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content bg-white border-0 rounded-0">
        <div class="modal-header d-flex align-items-center justify-content-end border-0 p-0">
          <a href="#" class="btn btn-dark rounded-0 close-osahan-btn position-absolute top-0" data-bs-dismiss="modal" aria-label="Close">
            <i class="ri-close-fill"></i>
          </a>
        </div>
        <div class="modal-body p-5">
          <form class="row g-4" action="/save_account" method="post">
            <h4 class="fw-bold mb-0">Create New Account</h4>
            <div class="col-12">
              <label for="InputName4" class="form-label">What's your name?</label>
              <input type="text" name="user_name" class="form-control bg-transparent rounded-0" id="InputName4" placeholder="Enter Your Name">
              
            </div>

            <div class="col-12">
              <label for="InputMobile1" class="form-label">What's your Mobile.No?</label>
              <input type="number" name="mobile" class="form-control bg-transparent rounded-0" id="InputMobile1" placeholder="Enter Your Mobile No">
            </div>

            <div class="col-12">
              <label for="InputEmail1" class="form-label">What's your email?</label>
              <input type="email" name="email" class="form-control bg-transparent rounded-0" id="InputEmail1" placeholder="Enter Your Email">
            </div>
            <div class="col-12">
              <label for="InputPassword2" class="form-label">Create Password</label>
              <input type="password"      name="password"     class="form-control bg-transparent rounded-0" id="InputPassword2" placeholder="Enter Password">
            </div>
           
           
            <div class="col-12">
              <button class="btn btn-dark rounded-0 w-100 py-3" data-bs-dismiss="modal">Create Account</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
 
 
  <!-- delete modal -->
  <div class="modal fade" id="delete" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
      <div class="modal-content bg-white border-0 rounded-0">
        <div class="modal-header d-flex align-items-center justify-content-end border-0 p-0">
          <a href="#" class="btn btn-dark rounded-0 close-osahan-btn position-absolute top-0" data-bs-dismiss="modal" aria-label="Close">
            <i class="ri-close-fill"></i>
          </a>
        </div>
        <div class="modal-body text-center p-4">
          <i class="ri-delete-bin-5-fill ri-3x text-danger"></i>
          <h4 class="fw-bold">Are You Sure ?</h4>
        </div>
        <div class="modal-footer border-0 p-0">
          <a href="#" class="btn btn-dark rounded-0 m-0 py-2 w-50" data-bs-dismiss="modal">
            <i class="ri-close-fill me-2"></i>Cancel </a>
          <a href="#" class="btn btn-danger rounded-0 m-0 py-2 w-50" data-bs-dismiss="modal">
            <i class="ri-delete-bin-5-fill me-2"></i>Delete </a>
        </div>
      </div>
    </div>
  </div>
  <!-- Bootstrap Bundle Js -->
  <script src="/user_assets/vender/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Swiper Slider Js -->
  <script src="/user_assets/vender/swiper-js/swiper-bundle.min.js"></script>
  <!-- Custom Js -->
  <script src="/user_assets/js/script.js"></script>

  <script>
    var url= location.href;
    console.log("Url=",url);
    if(url.includes("open_login_modal"))
  {
    var myModal = new bootstrap.Modal(document.getElementById('login'), {
  keyboard: false
});
myModal.show()
  }
   
  </script>
</body>

<!-- Mirrored from iamosahan.com/wrapbootstrap-pillarix/luxuay/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 24 Dec 2024 12:10:45 GMT -->
</html>